<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html" charset="UTF-8">
  <title>Huggy</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<form method="post" action="/huggywuggy/searchHuggy">
  <input type="text" name="name" id="name">
  <input type="submit" value="Найти">
</form>

<div th:each="el : ${huggy}">
  <h2 th:text="${el.name}"></h2>
  <p th:text="${el.height}"></p>
  <p th:text="${el.creation_date}"></p>
  <a th:href="'/huggywuggy/'+${el.id}">Подробнее</a>
</div>

<div class="container">
<a href="/huggywuggy/addHuggy" class="btn btn-primary">Добавить Хагги Вагги</a>
</div>
</body>
</html>