<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta content="text/html" charset="UTF-8">
  <title>News</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

<form th:object="${news}" action="/news/add" method="post">
  <p>Заголовок
    <input type="text" id="title" name="title" placeholder="Заголовок">
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  </p>
  <br>
  <p>Текст <textarea type="text" id="body_text" name="body_text" placeholder="Текст"></textarea>
  <div th:if="${#fields.hasErrors('body_text')}" th:errors="*{body_text}"></div>
  </p>
  <br>
  <p>Автор <input type="text" id="author" name="author" placeholder="Автор">
  <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div></p>
  <br>
  <p>Просмотры <input type="number" id="views" name="views" placeholder="Просмотры">
  <div th:if="${#fields.hasErrors('views')}" th:errors="*{views}"></div></p>
  <br>
  <p>Лайки <input type="number" id="likes" name="likes" placeholder="Лайки">
  <div th:if="${#fields.hasErrors('likes')}" th:errors="*{likes}"></div></p>
  <br>
  <input type="submit" value="Добавить новость" class="btn btn-success">
</form>
<a href="/news/" class="btn btn-primary">Назад</a>

</body>
</html>