<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html" charset="UTF-8">
  <title>News</title>
  <link rel="stylesheet" href="/style.css"></head>
<body>

<div th:each="el : ${news}">
<form th:action="'/news/edit/' + ${el.id}" method="post">
  <p>Заголовок</p>
  <input th:value="${el.title}" type="text" id="title" name="title" placeholder="Заголовок">
  <br>
  <p>Текст</p>
  <textarea th:value="${el.body_text}" type="text" id="body_text" name="body_text" placeholder="Текст"></textarea>
  <br>
  <p>Автор</p>
  <input th:value="${el.author}" type="text" id="author" name="author" placeholder="Автор">
  <br>
  <p>Просмотры</p>
  <input th:value="${el.views}" type="number" id="views" name="views" placeholder="Просмотры">
  <br>
  <p>Лайки</p>
  <input th:value="${el.likes}" type="number" id="likes" name="likes" placeholder="Лайки">
  <br>
  <input type="submit" value="Изменить новость" class="btn btn-success">
</form>


  <h2 th:text="${el.title}"></h2>
  <h3 th:text="${el.author}"></h3>

  <p th:text="${el.body_text}"></p>
  <p th:text="${el.views}"></p>
  <p th:text="${el.likes}"></p>
  <a th:href="'/news/delete/'+${el.id}"  class="btn btn-primary">Удалить</a>
</div>

<a href="/news/" class="btn btn-primary">Назад</a>

</body>
</html>