<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<form th:object="${abebe}" action="/abebe/addAbebe" method="post">
    <p>Имя <input type="text" id="name" name="name" placeholder="Имя">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div></p>

    <br>
    <p>Информация <textarea type="text" id="info" name="info" placeholder="Информация"></textarea>
    <div th:if="${#fields.hasErrors('info')}" th:errors="*{info}"></div></p>

    <br>
    <p>Город  <input type="text" id="city" name="city" placeholder="Город">
    <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div></p>

    <br>
    <p>Атака <input type="number" id="attack" name="attack" placeholder="Атака">
    <div th:if="${#fields.hasErrors('attack')}" th:errors="*{attack}"></div></p></p>

    <br>
    <p>Броня <input type="number" id="armor" name="armor" placeholder="Броня">
    <div th:if="${#fields.hasErrors('armor')}" th:errors="*{armor}"></div></p></p>

    <br>
    <input type="submit" value="Добавить Абебе" class="btn btn-success">
</form>
<a href="/abebe/" class="btn btn-primary">Назад</a>

</body>
</html>