<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>Abebe</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<form method="post" action="/abebe/searchAbebe">
    <input type="text" name="name" id="name">
    <input type="submit" value="Найти">
</form>

<div th:each="el : ${abebe}">
    <h2 th:text="${el.name}"></h2>
    <h3 th:text="${el.info}"></h3>
    <p th:text="${el.city}"></p>
    <p th:text="${el.attack}"></p>
    <p th:text="${el.armor}"></p>
    <a th:href="'/abebe/'+${el.id}">Прочитать абебе</a>
</div>

<a href="/abebe/addAbebe" class="btn btn-primary">Добавить абебе</a>

</body>
</html>